<div class="row">
    <div class="col-lg-12">
        
        <!-- /.card -->
        <div class="card card-default">
            <div class="card-header d-flex justify-content-between align-items-center">Núcleo de Serviço
                <button type="button" class="btn btn-sm btn-primary" (click)="addNucleo()">Add Núcleo</button>
            </div>
            <!-- /.card-body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Coordenação</th>
                              <th scope="col">Data de Cadastro</th>
                              <th scope="col">Ação</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>2022/2023 - Glaucia</td>
                                <td>01/01/2022</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-success" (click)="addServo()">Visualizar</button>
                                </td>
                            </tr>
                          </tbody>
                    </table>
                  </div>
            </div>
        </div>
    </div>
</div>