<div class="modal-header">
    <h4 *ngIf="isAddMode" class="modal-title">Adicionar Formação</h4>
    <h4 *ngIf="!isAddMode" class="modal-title">Atualizar Formação</h4>        
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="createdAt">
        <input type="hidden" formControlName="updatedAt">
        <input type="hidden" formControlName="grupoOracaoId">
        <div class="row">
            <div class="col-lg-9">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome da Formação</label>
                    <input type="text" class="form-control" formControlName="name" oninput="this.value = this.value.toUpperCase()">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="exampleInputEmail1">Data Certificado</label>
                    <input type="text" class="form-control" [specialCharacters]="[ '/' ]"  mask="d0/m0/0000"  formControlName="birthday1">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.close('sair')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!form.valid">Salvar</button>
</div>