<div [@routerTransition] class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Admin - Gerenciador RCC</h1>
            <form role="form" [formGroup]="form">
                <div class="form-content">
                    <div class="form-group">
                        <input
                            [placeholder]="'Email'"
                            class="form-control input-underline input-lg"
                            type="text" formControlName="email"
                        />
                    </div>

                    <div class="form-group">
                        <input
                            [placeholder]="'Password'"
                            class="form-control input-underline input-lg"
                            type="password" formControlName="password"
                        />
                    </div>
                </div>
                <a (click)="onLoggedin()" class="btn rounded-btn">{{
                    'Entrar'
                }}</a>
                &nbsp;
                <a [routerLink]="['/signup']" class="btn rounded-btn">{{ 'Registrar' }}</a>
                
     
            </form>
        </div>
    </div>
</div>
