    <div class="modal-header">
        <h4 *ngIf="isAddMode" class="modal-title">Adicionar Servo</h4>
        <h4 *ngIf="!isAddMode" class="modal-title">Atualizar Servo</h4>        
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="id">
            <input type="hidden" formControlName="createdAt">
            <input type="hidden" formControlName="updatedAt">
            <input type="hidden" formControlName="grupoOracaoId">
            <div class="row">
                <div class="col-lg-8">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nome</label>
                        <input type="text" class="form-control" formControlName="name" oninput="this.value = this.value.toUpperCase()">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Data de Nascimento</label>
                        <input type="text" class="form-control" [specialCharacters]="[ '/' ]"  mask="d0/m0/0000"  formControlName="birthday1">
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-check form-check-inline" style="margin-top: 25px; margin-left: -10px;">
                        <input class="form-check-input"  type="checkbox" formControlName="active">
                        <label class="form-check-label" >Ativo</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">CPF</label>
                        <input type="text" class="form-control" mask="000.000.000-00"  formControlName="cpf">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" class="form-control"   formControlName="email">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Celular</label>
                        <input type="text" class="form-control" mask="(00) 00000-0000"  formControlName="cellphone">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ministério Principal *</label>
                        <select class="form-control"  formControlName="mainMinistry">
                            <option value="coordenadores">Coordenadores</option>
                            <option value="musica-artes">Música & Artes</option>
                            <option value="pregacao">Pregação</option>
                            <option value="promocao-humana">Promoção Humana</option>
                            <option value="fe-politica">Fé e Politica</option>
                            <option value="formacao">Formação</option>
                            <option value="intercessao">Intercessão</option>
                            <option value="cura-libertacao">Cura e Libertação</option>
                            <option value="jovem">Jovem</option>
                            <option value="criancas-adolescentes">Crianças e Adolescentes</option>
                            <option value="comunicacao">Comunicação</option>
                            <option value="familias">Para as Famílias</option>
                            <option value="universidades">Universidades</option>
                            <option value="religiosas">Para as Religiosas</option>
                            <option value="seminaristas">Seminaristas</option>
                            <option value="cristo-sacerdote">Cristo Sacerdote</option>
                          </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ministério Secundário </label>
                        <select class="form-control" formControlName="secondaryMinistry" >
                            <option value="coordenadores">Coordenadores</option>
                            <option value="musica-artes">Música & Artes</option>
                            <option value="pregacao">Pregação</option>
                            <option value="promocao-humana">Promoção Humana</option>
                            <option value="fe-politica">Fé e Politica</option>
                            <option value="formacao">Formação</option>
                            <option value="intercessao">Intercessão</option>
                            <option value="cura-libertacao">Cura e Libertação</option>
                            <option value="jovem">Jovem</option>
                            <option value="criancas-adolescentes">Crianças e Adolescentes</option>
                            <option value="comunicacao">Comunicação</option>
                            <option value="familias">Para as Famílias</option>
                            <option value="universidades">Universidades</option>
                            <option value="religiosas">Para as Religiosas</option>
                            <option value="seminaristas">Seminaristas</option>
                            <option value="cristo-sacerdote">Cristo Sacerdote</option>
                          </select>
                    </div>
                </div>
            </div>
        </form>

        <div style="margin-top: 10px;">
            <div class="card card-default">
                <div class="card-header d-flex justify-content-between align-items-center">Formações
                    <button type="button" class="btn btn-sm btn-primary" (click)="openDialog(null)">Adicionar Formação</button>
                </div>
                <!-- /.card-body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Formação</th>
                                  <th scope="col">Data Certificado</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Formação Humana I</td>
                                    <td>10/05/2009</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Formação Humana II</td>
                                    <td>10/10/2010</td>
                                  </tr>
                              </tbody>
                        </table>
                      </div>
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="activeModal.close('sair')">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!form.valid">Salvar</button>
    </div>