<div class="row">
    <div class="col-lg-12">
        <div class="card card-default">
            <!-- /.card-header -->
            <div class="card-header"><i class="fa fa-clock-o fa-fw"></i>Grupo de Orações
              
            </div>
            <div class="row">
              <div class="grupo-oracao-table-wrapper__search" >
                <div class="grupo-oracao-table-wrapper__icon-wrapper">
                  <i class="fa fa-fw fa-search"></i>&nbsp;
                </div>
                <input class="grupo-oracao-table-wrapper__search-input" #inputSearch >
                <button class="btn"><i class="fa fa-close"></i></button>
                <button class="btn" (click)="newGrupoOracao()"><i class="fa fa-plus"></i></button>
              </div>
              
            </div>
            <!-- /.card-body -->
            <div class="card-body">
                <div class="row">
                    
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Grupo de Oração</th>
                            <th scope="col">Decanato/Setor</th>
                            <th scope="col">Cidade</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Homol.</th>
                            <th scope="col">Coordenador</th>
                            <th scope="col">Ações</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of listOfGroups">
                            <td>{{item.name}}</td>
                            <td>{{item.paroquiaCapela.name}}</td>
                            <td>{{item.city}}</td>
                            <td>{{describeType(item.type)}}</td>
                            <td>Sim</td>
                            <td></td>
                            <td>
                              <a (click)="navigateGrupoOracao(item)">Gerenciar</a>
                                
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>