<div class="modal-header">
    <h4  class="modal-title">Informar Formações aos Servos</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="createdAt">
        <input type="hidden" formControlName="updatedAt">
        <div class="row">
            <div class="col-lg-9">
                <div class="form-group">
                    <label>Formação</label>
                    <select class="form-control" formControlName="formacaoId">
                        <option *ngFor="let item of formacoes" 
                            [value]="item.id">
                        {{item.name}}
                        </option>
                      </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Data Certificado</label>
                    <input type="text" class="form-control" [specialCharacters]="[ '/' ]"  mask="d0/m0/0000"  formControlName="certificateDate1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ">
                <div class="form-group">
                    <label>Grupo de Oração</label>
                    <select class="form-control" formControlName="grupoOracaoId" (change)="loadServosByGrupoOracao($event.target.value)">
                        <option *ngFor="let item of listGrupoOracao" 
                            [value]="item.id" >
                        {{item.name }} - {{item.paroquiaCapela?.name}} - {{item.city}}
                        </option>
                      </select>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-12 ">
                <div class="form-group">
                    <label>Servos</label>
                    <select class="form-control" formControlName="servosId" multiple>
                        <option *ngFor="let item of servos" 
                            [value]="item.id" >
                        {{item.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.close('sair')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!form.valid">Salvar</button>
</div>