<div class="row">
    <div class="col-lg-12">
        <div class="card card-default">
            <!-- /.card-header -->
            <div class="card-header">
                <i class="fa fa-clock-o fa-fw"></i>Lista de Paróquias/Capelas
                <button class="btn" (click)="openDialog(null)"><i class="fa fa-plus"></i></button>
            </div>
            
            <!-- /.card-body -->
            <div class="card-body">
                <div class="row">
                    
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Cidade</th>
                            <th scope="col">Bairro</th>
                            <th scope="col">Decanato</th>
                            <th scope="col">Ativo</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of dataSource" (click)="openDialog(item)" >
                            <td>{{item.name}}</td>
                            <td>{{item.city}}</td>
                            <td>{{item.neighborhood}}</td>
                            <td>{{item.decanatoSetor.name}}</td>
                            <td>{{item.active ? 'Sim' : 'Não'}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>