<div class="modal-header">
    <h4 class="modal-title">Adicionar Núcleo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="row">
        
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('sair')">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="activeModal.close('salvar')">Salvar</button>
</div>